@import "variables";

.fade {
  position: relative;
  width: 100%;
  min-height: 2em;
  background-image: linear-gradient(0deg, transparent, black 75%);
  z-index: 1;
}

.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  color: $swclr;
  height: 60vh;
  min-height: 3.5em;
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
  width: 100%;

  .skip {
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 2;
    background-color: black;
    border: 1px solid $swclr;
    color: $swclr;
    cursor: pointer;
  }
}

.crawl {
  position: relative;
  top: 99999px;
  transform-origin: 50% 100%;
  animation: crawl 45s linear 0s 1 normal forwards;
}
@keyframes crawl {
  0% {
    top: 70vh;
    transform: rotateX(20deg) translateZ(0);
  }

  100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}

.aftercrawl {
  box-sizing: border-box;
  position: absolute;
  line-height: normal;
  font-weight: normal;
  letter-spacing: normal;
  perspective: none;
  align-self: center;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  .slideshow-container {
    position: relative;
    width: 90%;
  }

  .mySlides {
    display: none;
    align-items: center;
    justify-content: center;

    .slidecontent {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .quotebox {
        margin-right: 0.5em;
        text-align: right;

        .quote {
          font-size: 60px;
          font-family: "Raleway", sans-serif;
        }

        .author {
          font-size: 40px;
          font-family: "Dancing Script", cursive;
        }
      }

      .coelho {
        min-height: 2.5em;
        min-width: 2em;
      }
    }
  }
  /* Next & previous buttons */
  .next,
  .prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 2;
  }
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  /* On hover, add a black background color with a little bit see-through */
  .next:hover,
  .prev:hover {
    background-color: rgba(0,0,0,0.8);
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @keyframes fade {
    from {
      opacity: 0.4;
    }

    to {
      opacity: 1;
    }
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@media only screen and (max-width: 1100px) {
  .star-wars {
    font-size: 400%;
  }

  .crawl {
    animation: crawl 40s linear;
  }
}
@media only screen and (max-width: 700px) {
  .star-wars {
    font-size: 300%;
  }
}
