//dodać przycisk do ominięcia animacji
@import "variables";

.fade {
  position: relative;
  width: 100%;
  min-height: 2em;
  background-image: linear-gradient(0deg, transparent, black 75%);
  z-index: 1;
}

.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  color: $swclr;
  height: 60vh;
  min-height: 3.5em;
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
  width: 100%;
  .skip {
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: 2;
  }
}

.crawl {
  position: relative;
  top: 99999px;
  transform-origin: 50% 100%;
  animation: crawl 45s linear 0s 1 normal forwards;
}
@keyframes crawl {
  0% {
    top: 50vh;
    transform: rotateX(20deg) translateZ(0);
  }

  100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}

.aftercrawl {
  position: absolute;
  // animation: show 2s ease-in 0s 1 normal forwards;
  line-height: normal;
  font-weight: normal;
  letter-spacing: normal;
  perspective: none;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;

  .quotebox {
    margin-right: 0.5em;
    text-align: right;
    width: 80%;
    .quote {
      font-size: 60px;
      font-family: "Raleway", sans-serif;
    }

    .author {
      font-size: 40px;
      font-family: "Dancing Script", cursive;
    }
  }

  .coelho {
    min-height: 2.5em;
    min-width: 2em;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 1100px) {
  .star-wars {
    font-size: 400%;
  }

  .crawl {
    animation: crawl 40s linear;
  }
}

@media only screen and (max-width: 700px) {
  .star-wars {
    font-size: 300%;
  }

  .crawl {
    animation: crawl 35s linear;
  }
}

@media only screen and (max-width: 570px) {
  .star-wars {
    font-size: 300%;
  }

  .crawl {
    animation: crawl 35s linear;
  }
}
