@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Michroma|Orbitron|Oswald|Dancing+Script|Raleway:400,500,800,900&display=swap&subset=latin-ext");
body {
  margin: 0;
  letter-spacing: 0.1em;
  font-family: "Oswald", sans-serif;
  font-size: 18px; }
  body button:focus {
    outline-style: none;
    box-shadow: none;
    border-color: transparent; }
  body .mtgcard {
    position: relative; }
  body .cardpreview {
    display: block;
    width: 200px;
    background-color: transparent;
    padding: 0.3em 0;
    position: absolute;
    z-index: 1;
    top: -0.3em;
    left: 105%; }
    body .cardpreview img {
      clip-path: polygon(0% 3%, 3% 0%, 97% 0%, 100% 3%, 100% 97%, 97% 100%, 3% 100%, 0% 97%); }
  body .cardpreview::after {
    content: " ";
    position: absolute;
    top: 2%;
    right: 100%;
    margin-top: 3px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent white transparent transparent; }
  body img {
    max-width: 100%;
    display: block;
    height: auto; }
  body a {
    color: inherit; }
  body .wrappersidebar {
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 10em auto auto;
    grid-template-areas: "header header header" "sideleft content sideright" "footer footer footer";
    /* poniżej tylko dla strony zasad */ }
    body .wrappersidebar .leftsidebar {
      grid-area: sideleft;
      background-color: #E95631;
      z-index: -1; }
    body .wrappersidebar .rightsidebar {
      grid-area: sideright;
      background-color: #E95631;
      z-index: -1; }
    body .wrappersidebar .rules {
      width: 90%;
      text-align: justify; }
    body .wrappersidebar li {
      margin-top: 0.5em;
      margin-bottom: 0.5em; }
    body .wrappersidebar .imgintxt {
      max-height: 1em;
      display: inline; }
  body header {
    margin: 0;
    top: 0;
    position: relative;
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    box-sizing: border-box; }
    body header .logo {
      box-sizing: border-box;
      margin: 0.5em;
      width: 15%; }
      body header .logo img {
        margin: auto;
        max-height: 8em; }
    body header .banner {
      background-image: url("../resources/images/Banner 3.png");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      width: 80%;
      height: 100%; }
  body main {
    grid-area: content;
    background-color: #E95631;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 2em; }
    body main .subtitle {
      margin: 1em; }
      body main .subtitle h1 {
        text-align: center; }
  body .ranking {
    background-color: #E95631;
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em; }
    body .ranking .rank {
      display: grid;
      grid-template-areas: "number name expand" "info info info";
      grid-template-columns: 3em auto 3em;
      grid-template-rows: 3.5em auto;
      background-color: #E95631;
      margin: 1em;
      width: 90%;
      border: solid white 2px; }
      body .ranking .rank .number {
        grid-area: number;
        text-align: center;
        background-color: white;
        color: black;
        border: 1px solid #E95631;
        display: flex;
        justify-content: center;
        align-items: center; }
      body .ranking .rank .name {
        grid-area: name;
        text-align: left;
        padding-left: 1em;
        display: flex;
        justify-content: space-between; }
        body .ranking .rank .name .zydnum {
          display: flex;
          flex-wrap: wrap;
          width: 9em;
          justify-content: center;
          align-items: center; }
          body .ranking .rank .name .zydnum img {
            max-height: 2.5em; }
      body .ranking .rank .collapsible {
        grid-area: expand;
        background-color: white;
        border: 0;
        font-size: 25px;
        border: 1px solid #E95631;
        text-align: center;
        cursor: pointer; }
      body .ranking .rank .expand {
        display: block;
        position: relative;
        margin: auto;
        font-size: 25px; }
      body .ranking .rank button:focus {
        border: 1px solid #E95631; }
      body .ranking .rank .info {
        grid-area: info;
        border: solid white 1px;
        padding-left: 1em;
        display: none;
        flex-direction: column; }
        body .ranking .rank .info .winsline {
          display: flex;
          justify-content: space-between;
          align-items: center;
          box-sizing: border-box;
          font-size: 12px; }
          body .ranking .rank .info .winsline .cmdname {
            padding: 0.15em; }
          body .ranking .rank .info .winsline .wins {
            text-align: right;
            padding: 0.15em 1em 0.15em 0.15em; }
            body .ranking .rank .info .winsline .wins span {
              letter-spacing: initial; }
  body footer {
    grid-area: footer;
    color: #E95631;
    background-color: white;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1em; }
    body footer h2 {
      color: #E95631; }
    body footer .created {
      font-size: 10px; }
    body footer .timeplace {
      width: 80%; }
      body footer .timeplace .cities {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        box-sizing: border-box;
        flex-wrap: wrap; }
        body footer .timeplace .cities .city {
          margin-left: 1.5em;
          margin-right: 1.5em; }
  @media only screen and (max-width: 1490px) {
    body .wrappersidebar {
      grid-template-columns: 100%;
      grid-template-areas: "header" "menu" "content" "footer"; } }
  @media only screen and (max-width: 1140px) {
    body header {
      background-size: 110% auto; }
    body h1 {
      font-size: 20px; }
    body h2 {
      font-size: 16px; }
    body .wrapperhomepage .aftercrawl .quotebox .quote {
      font-size: 40px; }
    body .wrapperhomepage .aftercrawl .quotebox .author {
      font-size: 20px; }
    body .ranking {
      width: 95%; }
      body .ranking .rank {
        font-size: 14px; }
        body .ranking .rank .winsline {
          font-size: 10px; }
    body .timeplace {
      width: 85%; }
    body .authors {
      width: 85%; }
    body .rules {
      font-size: 14px; }
    body footer {
      font-size: 14px; }
      body footer h2 {
        font-size: 16px; } }
  @media only screen and (max-width: 790px) {
    body header .logo img {
      max-height: 6em; }
    body .wrapperhomepage {
      grid-template-rows: 7.5em 4em auto auto; }
    body .wrappersidebar {
      grid-template-rows: 7.5em 4em auto auto; }
    body nav {
      font-size: 12px; } }
  @media only screen and (max-width: 570px) {
    body header .logo img {
      max-height: 4em; }
    body .wrapperhomepage {
      grid-template-rows: 5em 3em auto auto; }
      body .wrapperhomepage .aftercrawl .quotebox .quote {
        font-size: 20px; }
      body .wrapperhomepage .aftercrawl .quotebox .author {
        font-size: 10px; }
    body .wrappersidebar {
      grid-template-rows: 5em 3em auto auto; }
    body nav {
      font-size: 10px; }
    body h1 {
      font-size: 16px; }
    body .rank {
      font-size: 10px; }
      body .rank .collapsible .expand {
        font-size: 15px; }
      body .rank .winsline {
        font-size: 8px; }
    body footer {
      font-size: 10px; }
    body .wrappersidebar .banned {
      columns: 2; }
    body .created {
      font-size: 8px; } }
  @media only screen and (max-width: 410px) {
    body .ranking .rank {
      grid-template-rows: auto auto; } }
