@import url("https://fonts.googleapis.com/css?family=Michroma|Orbitron|Oswald|Dancing+Script|Raleway:400,500,800,900&display=swap&subset=latin-ext");
@import "variables";

body {
  margin: 0;
  letter-spacing: 0.1em;
  font-family: "Oswald", sans-serif;
  font-size: 18px;

  button:focus {
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
  }

  .mtgcard {
    position: relative;

  }

  .cardpreview {
    display: block;
    width: 200px;
    background-color: transparent;
    padding: 0.3em 0;
    position: absolute;
    z-index: 1;
    top: -0.3em;
    left: 105%;

    img {
      clip-path: polygon(0% 3%, /* top left */ 3% 0%, /* top left */ 97% 0%, /* top right */ 100% 3%, /* top right */ 100% 97%, /* bottom right */ 97% 100%, /* bottom right */ 3% 100%, /* bottom left */ 0% 97% /* bottom left */);
    }
  }

  .cardpreview::after {
    content: " ";
    position: absolute;
    top: 2%;
    right: 100%;
    margin-top: 3px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent $swclr transparent transparent;
  }

  img {
    max-width: 100%;
    display: block;
    height: auto;
  }

  a {
    color: inherit;
  }

  .wrappersidebar {
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 10em auto auto;
    grid-template-areas: "header header header" "sideleft content sideright" "footer footer footer";

    .leftsidebar {
      grid-area: sideleft;
      // position: sticky;
      // top: 0;
      // max-height: 1440px; //wysokość tła
      // background-image: url("../resources/images/Sith_001.jpg");
      // background-position: 30% -50px;
      // background-repeat: no-repeat;
      background-color: $pmorng;
      // background-origin: border-box;
      z-index: -1;
    }

    .rightsidebar {
      grid-area: sideright;
      // position: sticky;
      // top: 0;
      // max-height: 1440px; //wysokość tła
      // background-image: url("../resources/images/Jedi.jpg");
      // background-position: 70% -50px;
      // background-repeat: no-repeat;
      background-color: $pmorng;
      // background-origin: border-box;
      z-index: -1;
    }
    /* poniżej tylko dla strony zasad */
    .rules {
      width: 90%;
      text-align: justify;
    }

    li {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }

    .imgintxt {
      max-height: 1em;
      display: inline;
    }


  }

  header {
    margin: 0;
    top: 0;
    position: relative;
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: $swclr;
    box-sizing: border-box;

    .logo {
      box-sizing: border-box;
      margin: 0.5em;
      width: 15%;

      img {
        margin: auto;
        max-height: 8em;
      }
    }

    .banner {
      background-image: url("../resources/images/Banner 3.png");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      width: 80%;
      height: 100%;
    }
  }

  // nav {
  //   grid-area: menu;
  //   background-color: $swclr;
  //   text-transform: uppercase;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //
  //   ul {
  //     padding-inline-start: 0;
  //     margin-block-start: 0;
  //     margin-block-end: 0;
  //     list-style-type: none;
  //     display: flex;
  //     justify-content: space-around;
  //     align-items: center;
  //
  //     .menuitem {
  //       display: inline-block;
  //       margin: 1em;
  //       text-align: center;
  //       color: black;
  //       text-decoration: underline;
  //     }
  //   }
  // }

  main {
    grid-area: content;
    background-color: $pmorng;
    color: $swclr;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 2em;

    .subtitle {
      margin: 1em;

      h1 {
        text-align: center;
      }
    }
  }

  .ranking {
    background-color: $pmorng;
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;

    .rank {
      display: grid;
      grid-template-areas: "number name expand" "info info info";
      grid-template-columns: 3em auto 3em;
      grid-template-rows: 3.5em auto;
      background-color: $pmorng;
      margin: 1em;
      width: 90%;
      border: solid $swclr 2px;

      .number {
        grid-area: number;
        text-align: center;
        background-color: $swclr;
        color: black;
        border: 1px solid $pmorng;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .name {
        grid-area: name;
        text-align: left;
        padding-left: 1em;
        display: flex;
        justify-content: space-between;

        .zydnum {
          display: flex;
          flex-wrap: wrap;
          width: 9em;
          justify-content: center;
          align-items: center;

          img {
            max-height: 2.5em;
          }
        }
      }

      .collapsible {
        grid-area: expand;
        background-color: $swclr;
        border: 0;
        font-size: 25px;
        border: 1px solid $pmorng;
        text-align: center;
        cursor: pointer;
      }

      .expand {
        display: block;
        position: relative;
        margin: auto;
        font-size: 25px;
      }

      button:focus {
        border: 1px solid $pmorng;
      }

      .info {
        grid-area: info;
        border: solid $swclr 1px;
        padding-left: 1em;
        display: none;
        flex-direction: column;

        .winsline {
          display: flex;
          justify-content: space-between;
          align-items: center;
          box-sizing: border-box;
          font-size: 12px;

          .cmdname {
            padding: 0.15em;
          }

          .wins {
            text-align: right;
            padding: 0.15em 1em 0.15em 0.15em;

            span {
              letter-spacing: initial;
            }
          }
        }
      }
    }
  }

  footer {
    grid-area: footer;
    color: $pmorng;
    background-color: $swclr;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1em;

    h2 {
      color: $pmorng;
    }

      .created {
      font-size: 10px;
    }

    .timeplace {
      width: 80%;

      .cities {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        box-sizing: border-box;
        flex-wrap: wrap;

        .city {
          margin-left: 1.5em;
          margin-right: 1.5em;
        }
      }
    }
  }
  @media only screen and (max-width: 1490px) {
    .wrappersidebar {
      grid-template-columns: 100%;
      grid-template-areas: "header" "menu" "content" "footer";
    }
  }
  @media only screen and (max-width: 1140px) {
    header {
      background-size: 110% auto;
    }

    h1 {
      font-size: 20px;
    }

    h2 {
      font-size: 16px;
    }

    .wrapperhomepage .aftercrawl .quotebox {
      .quote {
        font-size: 40px;
      }

      .author {
        font-size: 20px;
      }
    }

    .ranking {
      width: 95%;

      .rank {
        font-size: 14px;

        .winsline {
          font-size: 10px;
        }
      }
    }

    .timeplace {
      width: 85%;
    }

    .authors {
      width: 85%;
    }

    .rules {
      font-size: 14px;
    }

    footer {
      font-size: 14px;

      h2 {
        font-size: 16px;
      }
    }
  }
  @media only screen and (max-width: 790px) {
    header .logo img {
      max-height: 6em;
    }

    .wrapperhomepage {
      grid-template-rows: 7.5em 4em auto auto;
    }

    .wrappersidebar {
      grid-template-rows: 7.5em 4em auto auto;
    }

    nav {
      font-size: 12px;
    }
  }
  @media only screen and (max-width: 570px) {
    header .logo img {
      max-height: 4em;
    }

    .wrapperhomepage {
      grid-template-rows: 5em 3em auto auto;

      .aftercrawl .quotebox {
        .quote {
          font-size: 20px;
        }

        .author {
          font-size: 10px;
        }
      }
    }

    .wrappersidebar {
      grid-template-rows: 5em 3em auto auto;
    }

    nav {
      font-size: 10px;
    }

    h1 {
      font-size: 16px;
    }

    .rank {
      font-size: 10px;

      .collapsible .expand {
        font-size: 15px;
      }

      .winsline {
        font-size: 8px;
      }
    }

    footer {
      font-size: 10px;
    }

    .wrappersidebar .banned {
      columns: 2;
    }

    .created {
      font-size: 8px;
    }
  }
  @media only screen and (max-width: 410px) {
    .ranking .rank {
      grid-template-rows: auto auto;
    }
  }
}
